<div class="navbar navbar-expand-sm navbar-light navbar-lewagon position-relative">
  <div class = "row align-items-center m-2 w-100">
    <div class="col-5">
      <%= link_to root_path, class: "navbar-brand d-flex flex-row align-items-center" do %>
        <%= image_tag 'box_open.png' %>
        <h3 class="m-0 ps-3">RENT_FOR_ALL</h3>
      <% end %>
    </div>
    <div class="col">
    </div>

    <div class="col-4">
      <div class="" id="navbarSupportedContent">
      <% if user_signed_in? %>
          <ul class="d-flex w-100 navbar-nav justify-content-end pe-5">


            <li class="nav-item dropdown col-1">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, gravity: :face, crop: :"thumb", width: 40, height: 40, class: "avatar-bordered dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <%else%>
              <%= image_tag "avatar_user.png", class: "avatar-bordered dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <%end%>
              <div class="dropdown-menu dropdown-menu-end position-absolute" aria-labelledby="navbarDropdown">

                <%= link_to "HOME", root_path, class: "dropdown-item" %>
                <%= link_to "ALUGUE UM ITEM", items_path, class: "dropdown-item" %>

                <%= link_to "ANUNCIAR", new_item_path, class: "dropdown-item" %>
                <%= link_to "MEUS ITENS ALUGADOS", rents_path, class: "dropdown-item" %>
                <%= link_to "MEUS ANUNCIOS", my_items_items_path, class: "dropdown-item" %>
                <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class: "dropdown-item" %>


              </div>
            </li>
          </ul>
        <% else %>
           <ul class="d-flex w-100 navbar-nav justify-content-end pe-5">
             <li class="nav-item">
                <%= link_to "Login", new_user_session_path, class: "nav-link" %>
              </li>
            </ul>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
