
   <div class = "row align-items-center m-2 w-100">
    <div class="col-5">
      <%= link_to root_path, class: "navbar-brand d-flex flex-row align-items-center" do %>
        <%= image_tag 'box_open' %>
        <h3 class="m-0 ps-3">RENT_FOR_ALL</h3>
      <% end %>
    </div>
    <div class="col">
    </div>
    <div class="col-4">
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="row navbar-nav justify-content-center align-items-center">
          <% if user_signed_in? %>
            <li class="nav-item col my-auto active">
              <%= link_to "Home", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item col-5 active">
              <%= link_to "Meus anúncios", my_items_items_path, class: "nav-link" %>
            </li>
            <li class="nav-item col">
              <%= link_to "Anunciar", new_item_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown col-1">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Meus itens alugados", rents_path, class: "dropdown-item" %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="col">
            </li>
            <li class="nav-item col-1">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
