<div class="card-category">
  <div>
    <h1>Rent For All</h1>
  </div>
  <div class="">
    <p>Find whatever you need</p>
  </div>
</div>
<div class="container w-75 mb-5">
  <div class="row">
    <div class="col-2">
      <%= link_to root_path  do %>
        <i class="fas fa-futbol"></i>
      <% end %>
    </div>
    <div class="col-2">
      <%= link_to root_path  do %>
        <i class="fas fa-wrench"></i>
      <% end %>
    </div>
    <div class="col-2">
      <%= link_to root_path  do %>
        <i class="fas fa-laptop"></i>
      <% end %>
    </div>
    <div class="col-2">
      <%= link_to root_path  do %>
        <i class="fas fa-camera"></i>
      <% end %>
    </div>
    <div class="col-2">
      <%= link_to root_path  do %>
        <i class="fas fa-guitar"></i>
      <% end %>
    </div>
    <div class="col-2">
      <%= link_to root_path  do %>
        <i class="fas fa-asterisk"></i>
      <% end %>
    </div>
  </div>
  <h2 class="mt-5">ULTIMOS ITENS PUBLICADOS</h2>
  <div class="cards mt-3">
    <% @items.last(6).each do |item| %>
    <%= link_to item_path(item), class: 'text-decoration-none' do  %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <h3 class="text-center"><%= item.name %></h3>
      </div>
    <% end %>
    <%end%>
  </div>

</div>
