<div class="card-category">
  <div>
    <h1>Rent For All</h1>
  </div>
  <div class="">
    <p>Encontre o que você precisa</p>
  </div>
</div>
<div class="container w-75 pt-3 pb-5 mb-5">
  <div class="row">
    <div class="col-4 col-sm-2 text-center">
      <%= link_to items_path(category:'esportes') do %>
        <i class="fas fa-futbol"></i>
      <% end %>
    </div>
    <div class="col-4 col-sm-2 text-center">
      <%= link_to items_path(category:'ferramentas')  do %>
        <i class="fas fa-wrench"></i>
      <% end %>
    </div>
    <div class="col-4 col-sm-2 text-center">
      <%= link_to items_path(category:'eletronicos')  do %>
        <i class="fas fa-laptop"></i>
      <% end %>
    </div>
    <div class="col-4 col-sm-2 text-center">
      <%= link_to items_path(category:'cameras')  do %>
        <i class="fas fa-camera"></i>
      <% end %>
    </div>
    <div class="col-4 col-sm-2 text-center">
      <%= link_to items_path(category:'instrumentos') do %>
        <i class="fas fa-guitar"></i>
      <% end %>
    </div>
    <div class="col-4 col-sm-2 text-center">
      <%= link_to items_path  do %>
        <i class="fas fa-asterisk"></i>
      <% end %>
    </div>
  </div>
  <h2 class="mt-5">ULTIMOS ITENS PUBLICADOS</h2>
  <div class="cards mt-3">
    <% @items.last(6).each do |item| %>
    <%= link_to item_path(item), class: 'text-decoration-none' do  %>
      <div class="card-category" style="background-image:url(<%= cl_image_path(item.photo.key)%>)">
        <h3 class="text-center"><%= item.name %></h3>
      </div>
    <% end %>
    <%end%>
  </div>

</div>
