<div class="card-category">
  <div>
    <h1>Rent For All</h1>
  </div>
  <div class="">
    <p>Encontre o que você precisa</p>
  </div>
</div>
<div class="container w-75 pt-3 pb-5 mb-5">
  <%= render 'shared/categories' %>
  </div>
  <h2 class="mt-5 ms-3">Últimos itens publicados</h2>
  <div class="cards card-item ms-3 mt-3">
    <% @items.last(9).each do |item| %>
    <%= link_to item_path(item), class: 'text-decoration-none' do  %>
      <div class="card-trip">
      <%=cl_image_tag(item.photo.key)%>
        <div class="card-trip-infos">
          <div>
            <h2><%= item.name %></h2>
            <h3>(<%=item.category%>)</h3>
            <br>
            <p><%=item.description%></p>
          </div>

          <h4 class="card-trip-pricing">R$<%=item.price%>/por dia</h4>
          <% if item.user.photo.attached? %>
              <%= cl_image_tag item.user.photo.key, gravity: :face, crop: :"thumb", width: 40, height: 40, class: "card-trip-user avatar-bordered-card"%>
            <%else%>
              <%= image_tag "avatar_user.png", class: "card-trip-user avatar-bordered-card"%>
            <%end%>

        </div>
        </div>
    <% end %>
    <%end%>
  </div>


</div>
</div>
