<h1 class="text-center mt-5">Find the item you need:</h1>
<div class="container mt-5 mb-5">
<% @items.each do |item| %>
<div class="card-product m-3">
  <%= image_tag 'tool.png' %>
  <div class="card-product-infos">
    <h2><%=item.name%></h2>
    <p><%=item.description%> <strong>Valor de aluguel por dia : R$<%=item.price%></strong></p>
  </div>
</div>
<% end %>

<%= cl_image_tag("g9j7lzgh940myasmwd8i",
      width: 400, height: 300, crop: :fill) %>

</div>

