<h1 class="text-center mt-5">ENCONTRE O QUE VOCÊ PRECISA:</h1>
<div class="container mt-5 mb-5 pt-3 pb-3">
<% @items.each do |item| %>
<%= link_to item_path(item), class: 'text-decoration-none' do  %>
<div class="card-product m-3">
  <%= image_tag 'tool.png' %>
  <div class="card-product-infos">
    <%= cl_image_tag @item.photo.key, height: 300, width: 400, crop: :fill %>
    <h2><%=item.name%></h2>
    <p><%=item.description%> <strong> R$<%=item.price%>/por dia</strong></p>
  </div>

</div>
<% end %>