  <div class="container mb-4 p-4">
    <h1>Meus Items</h1>
    <% @items.each do |item| %>
      <div class="card-product my-items m-2">
        <% if item.photo.attached? %>
         <%= cl_image_tag item.photo.key, height: 300, width: 400, crop: :fill %>
        <%else%>
         <%= image_tag 'tool.png' %>     
        <%end%>
       <div class="card-info m-4 d-flex justify-content-between">
        <div class="">
          <h2><%= item.name %></h2>
        </div>
        <div class="">
          <%= link_to edit_item_path(item) do %>
            <i class="fas fa-edit p-1"></i>
          <% end %>
        </div>
        <div class="">
          <%= link_to item_path(item), method: :delete, data: {confirm: 'Are you sure?'} do %>
            <i class="fas fa-trash p-1"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
