<div class="container px-5 w-50 p-2">
  <h2 class="ml-5 ">Create a new item</h2>
  <%= simple_form_for @item do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.button :submit, class: 'btn btn-primary w-100' %>
    <%= f.input :photo, as: :file %>
    <% end %>
</div>
