<h1><%= @item.name %></h1>


<div class="card-product m-3">
  <%= image_tag 'tool.png' %>
  <div class="card-product-infos">
    <h2><%=@item.name%></h2>
    <p><%=@item.description%> <strong>Valor de aluguel por dia : R$<%=@item.price%></strong></p>
  </div>
</div>




<%# nao esquecer link to %>
<%# adicionar um calendario para locação%>

<%= link_to 'Items', root_path(@item) %>
